[
  {
    "username": "",
    "mail": "",
    "consumer_key": "",
    "consumer_secret": "",
    "access_token": "",
    "access_secret": ""
  },
  {
    "username": "",
    "mail": "",
    "consumer_key": "",
    "consumer_secret": "",
    "access_token": "",
    "access_secret": ""
  }
]
